
.selected {
    background-color: rgba(1, 210, 225, 0.751);
}

.ventas-container{
    text-align: center;
    position: absolute;
    margin-top: 50px;
    left: 300px; 
}

.titulo {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #C35F01;
    margin-top: 100px; /* Ajusta este valor para mover el título hacia abajo */
    margin-bottom: 20px;
}

.tabla-container {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

.tabla thead {
    background-color: #823F00;
    color: white;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    width: 8%; 
}

.tabla th {
    font-size: 21px;
    font-weight: bold;
}

.tabla td {
    font-size: 18px;
    color: rgba(100, 100, 100, 0.6);
}

.tabla tbody tr:hover {
    background-color: #f0f0f0;
}

.tabla thead th:hover, .tabla tbody tr:hover {
    cursor: pointer;
}

.tabla thead th:hover {
    background-color: #553000;
}

.modificar img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.modificar img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.boton-nuevo, .boton-borrar {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: none;
    background: #B05501;
    box-shadow: 0 5px #7a3b00;
    margin: 10px;
}

.boton-nuevo:hover, .boton-borrar:hover {
    box-shadow: 0 3px #7a3b00;
}

.boton-nuevo:active, .boton-borrar:active {
    box-shadow: 0 0 #7a3b00;
}

.botones-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute; /* Añadido para posicionar absolutamente */
    top: 600px; /* Ajusta esta distancia según sea necesario */
    left: 50%;
    transform: translateX(-50%); /* Centra el contenedor de botones horizontalmente */
}
