<div class="inventario-container">
    <h1 class="titulo">INVENTARIO</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID del Libro</th>
            <th>Nombre del Libro</th>
            <th>Fecha de Publicación</th>
            <th>Id de la Sucursal</th>
            <th>Id del Género</th>
            <th>Id de la Editorial</th>
            <th>Precio</th>
            <th>Existencias</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of arrInventarios; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i,libro.id)" [class.selected]="filaSeleccionada === i">
            <td>{{ libro.id }}</td>
            <td>{{ libro.nombre_libro }}</td>
            <td>{{ libro.Fecha_public }}</td>
            <td>{{ libro.sucursal }}</td>
            <td>{{ libro.genero }}</td>
            <td>{{ libro.editorial }}</td>
            <td>{{ libro.precio }}</td>
            <td>{{ libro.existencias }}</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/altaLibros"><button class="boton-nuevo css-button-3d--green">Nuevo Libro</button></a>
        <button class="boton-borrar css-button-3d--green" (click)="eliminarFila()">Eliminar Libro</button>
    </div>
  </div>

