<div class="editoriales-container">
    <h1 class="titulo">EDITORIALES</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID de la Editorial</th>
            <th>Nombre de la Editorial</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let editorial of arr; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i)" [class.selected]="filaSeleccionada === i">
            <td>{{ editorial.id }}</td>
            <td>{{ editorial.nombre }}</td>
            <td class="modificar"><img src="assets/modificar.png" alt="Modificar"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/creacionEditorial"><button class="boton-nuevo css-button-3d--green">Agregar Editorial</button></a>
        <button class="boton-borrar css-button-3d--green">Eliminar Editoral</button>
    </div>
  </div>


