
.selected {
    background-color: rgba(1, 210, 225, 0.751);
}

.editoriales-container {
    text-align: center; 
    margin-top: 50px; 
}

.titulo {
    position: absolute;
    width: 612px;
    height: 164px;
    left: 620px;
    top: 50px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 176px;
    color: #C35F01;
}

.tabla-container {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    justify-content: center;
    margin-top: 50px; 
    padding-left: 480px;
    padding-top: 160px;
}

th {
    background-color: #823F00; 
    color: white; 
    height: 35px; 
    border-bottom: 1px solid rgb(210, 220, 250); /* Borde inferior */
}

td {
    color: rgba(100, 100, 100, 60); 
    height: 30px; /* Altura de las celdas */
    border: 0.5px solid rgba(240, 240, 240, 10); /* Borde de las celdas */
}

th:hover {
    background-color: rgba(20, 20, 20, 90); 
}

tr:hover {
    background-color: rgba(15, 25, 25, 90); 
}

footer {
    margin-top: 40px; 
    text-align: center; 
}

.tabla {
    width: 100%; 
    max-width: 1300px; 
    max-height: 700px;
    margin-top: 20px; 
    border-collapse: collapse; /* Combina los bordes de la tabla */
    text-align: center; 
}

.tabla th {
    font-size: 21px; 
    font-weight: bold; 
}
.tabla td {
    font-size: 18px; 
}

.modificar img {
    width: 30px; 
    height: auto; 
    transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
}

.modificar img:hover {
    transform: scale(1.3); /* Aumenta el tamaño al pasar el mouse */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse */
}

.tabla tbody tr:hover {
    background-color: #f0f0f0; 
}
.tabla thead th:hover {
    background-color: #553000; 
}
.boton-nuevo, .boton-borrar {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #B05501;
    box-shadow: 0 5px #7a3b00;
    margin-right: 10px; /* Ajusta el margen entre botones */
}

.boton-nuevo{
    left: 650px;
}
.boton-borrar {
    left: 900px; 
}

.boton-nuevo:hover, .boton-borrar:hover {
    box-shadow: 0 3px #7a3b00;
}

.boton-nuevo:active, .boton-borrar:active {
    box-shadow: 0 0 #7a3b00;
}

.botones-container{
    position: absolute;
    top: 750px;
    left: 90px;
}
.editoriales-container{
    position: absolute;
}

thead{
    position: sticky;
    top: 0;
}