<div class="generos-container">
    <h1 class="titulo">GÉNEROS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID del Género</th>
            <th>Géneros</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let genero of generos">
            <td> {{genero.id}}</td>
            <td> {{genero.nombre}}</td>
            <a routerLink="/modificarGenero"><td class="modificar" (click)="getid(genero.id)"><img src="assets/modificar.png" alt="Modificar"></td></a>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/registroGenero"><button class="boton-nuevo css-button-3d--green">Agregar Género</button></a>
        <button class="boton-borrar css-button-3d--green">Eliminar Género</button>
    </div>
  </div>

