<div class="titulo">
    NUEVA VENTA
</div>

<div class="busqueda">
    <label for="busqueda">Buscar:</label>
    <input type="text" id="busqueda" name="busqueda" placeholder="Ingrese su búsqueda..." (input)="onInput($event)">
</div>

<section class="inventario-section">
<div class="tabla-container inventario-container">
    <table class="tabla">
        <thead>
            <tr>
                <th>ID del Libro</th>
                <th>Nombre del Libro</th>
                <th>Fecha de Publicación</th>
                <th>Sucursal</th>
                <th>Género</th>
                <th>Editorial</th>
                <th>Precio</th>
                <th>Existencias</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of inventarioFiltrado; let i = index" [attr.data-index]="i" (click)="seleccionarFilaInventario(i ,libro)" [class.selected]="filaSeleccionadaInventario === i">
                <td>{{ libro.id }}</td>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.fecha }}</td>
                <td>{{ libro.sucursal }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.precio }}</td>
                <td>{{ libro.cantidad }}</td>
            </tr>
        </tbody>
    </table>
</div>
</section>
<div class="texto-disponibles">
    <p>Libros disponibles:</p>
</div>

<section class="carrito-section">
    <h2 class="carrito-titulo">Carrito de Venta</h2>
    <div class="tabla-container carrito-container-scroll">
        <table class="tabla-carrito">
            <thead>
                <tr>
                    <th>ID Libro</th>
                    <th>Nombre Libro</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of carrito; let j = index" [attr.data-index]="j" (click)="seleccionarFilaCarrito(j)" [class.selected]="filaSeleccionadaCarrito === j">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.precio * item.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="eliminar-btn-container">
    <button class="eliminar-producto-btn" (click)="eliminarDelCarrito()">Eliminar Producto</button>
</div>

<div class="subtotal-container">
    <h2 class="subtotal-titulo">Total:</h2>
    <p class="subtotal">${{ total }}</p>
</div>

<!-- Botones de Confirmar y Cancelar Préstamo -->
<div class="buttons">
    <button class="confirmar-venta-btn" (click)="confirmarVenta()">Confirmar Venta</button>
    <button class="cancelar-venta-btn" (click)="cancelarVenta()">Cancelar Venta</button>
</div>

<div class="cliente-container">
    <h3 class="cantidad-titulo">Cantidad de libros a agregar:</h3>
    <div class="cantidad-wrapper">
        <input type="number" id="cantidadProductos" min="1" value="1" [(ngModel)]="cantidad" name="cantidad">
        <button class="agregar-btn" (click)="agregarDetalleVenta()">Agregar</button>
    </div>
    <h2 class="cliente-titulo">Ingrese el Nombre del Cliente:</h2>
    <div class="input-wrapper">
        <input type="text" id="nombreCliente" placeholder="Ingrese el nombre del cliente" (input)="onInputChange($event)">
        <select id="listaClientes" [(ngModel)]="cliente">
            <option *ngFor="let cliente of clientesFiltrados" [value]="cliente.id">{{ cliente.nombre }}</option>
        </select>
    </div>
</div>



