
.selected {
    background-color: rgb(10, 233, 166);
}

.inventario-container, .carrito-container-scroll {
    max-height: 100px;
    overflow-y: auto;
    margin: 20px 0;
}
.inventario-container {
    max-width: 90%; 
}

.inventario-section {
    position: absolute;
    top: 280px; 
    left: 400px; 
}

.carrito-section {
    position: absolute;
    top: 550px; 
    left: 1000px; 
}

.carrito-container-scroll {
    max-width: 100%; /* Ajusta el ancho máximo de la tabla del carrito */
}

/* Estilos opcionales para personalizar las barras de desplazamiento */

.inventario-container, .carrito-container-scroll {
    max-height: 200px;
    overflow-y: auto;
}

.inventario-container::-webkit-scrollbar, .carrito-container-scroll::-webkit-scrollbar {
    width: 12px;
}

.inventario-container::-webkit-scrollbar-track, .carrito-container-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.inventario-container::-webkit-scrollbar-thumb, .carrito-container-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.inventario-container::-webkit-scrollbar-thumb:hover, .carrito-container-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.titulo {
    position: absolute;
    width: 512px;
    height: 164px;
    left: 790px;
    top: 80px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 176px;
    color: #C35F01;
}

.texto-disponibles {
    position: absolute;
    width: 412px;
    height: 50px;
    left: 820px;
    top: 160px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #C35F01;
}

.carrito-titulo {
    position: absolute;
    width: 412px;
    height: 50px;
    left: 50px;
    top: -60px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #C35F01;
}

.cliente-titulo {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #C35F01;
}

.busqueda {
    position: absolute;
    width: 500px;
    height: 164px;
    left: 725px;
    top: 165px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 176px;
    color: #C35F01;
}

.busqueda {
    margin-top: 20px; /* Espacio entre el texto y el cuadro de búsqueda */
}

.busqueda label {
    font-size: 28px; 
}

.busqueda input {
    width: 250px; 
    height: 30px; 
    font-size: 17px;
    margin-right: 10px; /* Espacio entre el cuadro de búsqueda y el botón */
}

.busqueda button {
    font-weight: bold; 
    font-size: 15px;
    height: 36px; 
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #3a86ff;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.busqueda button {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}


.tabla-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

th {
    background-color: #823F00;
    color: white;
    height: 35px;
    border-bottom: 1px solid rgb(210, 220, 250);
}

td {
    color: rgba(100, 100, 100, 0.6);
    height: 30px;
    border: 0.5px solid rgba(240, 240, 240, 0.1);
}

th:hover {
    background-color: rgba(20, 20, 20, 0.9);
}

tr:hover {
    background-color: rgba(15, 25, 25, 0.9);
}

footer {
    margin-top: 40px;
    text-align: center;
}

.tabla, .tabla-carrito {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}

.tabla th, .tabla-carrito th {
    font-size: 21px;
    font-weight: bold;
}

.tabla td, .tabla-carrito td {
    font-size: 18px;
}

.tabla tbody tr:hover, .tabla-carrito tbody tr:hover {
    background-color: #f0f0f0;
}

.tabla thead th:hover, .tabla-carrito thead th:hover {
    background-color: #553000;
}

.cliente-container {
    position: absolute;
    left: 400px; 
    top: 550px; 
    width: 500px;
    height: 300px; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.input-wrapper {
    display: flex; 
    align-items: center; 
}
#nombreCliente {
    width: 300px; 
    height: 40px; 
    margin-right: 20px; /* Espacio entre el cuadro de entrada de texto y el selector */
}

#listaClientes {
    width: 200px; 
    height: 40px; 
}

.cantidad-titulo {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #C35F01;
    margin-top: 20px; 
}

.cantidad-wrapper {
    display: flex; 
    align-items: center;
    margin-top: 10px; 
}

#cantidadProductos {
    width: 80px; 
    height: 40px; 
    margin-right: 20px; 
    font-size: 20px;
    font-weight: bold;
}

.agregar-btn {
    min-width: 100px; 
    height: 40px; 
    color: #fff; 
    font-weight: bold;
    cursor: pointer; 
    transition: all 0.3s ease; /* Transición suave */
    outline: none; /* Sin contorno al enfocar */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
    background: #0ed100;
    box-shadow: 0 5px #009700; 
}

.agregar-btn:hover {
    box-shadow: 0 3px #17ac00; 
    top: 1px; 
}

.agregar-btn:active {
    box-shadow: 0 0 #19a500; 
    top: 5px; 
}

.eliminar-btn-container {
    position: absolute; 
    top: 650px; 
    left: 90%;
    transform: translateX(-50%); 
}

.eliminar-producto-btn {
    min-width: 100px; 
    height: 40px; 
    color: #fff; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; /* Transición suave */
    outline: none; /* Sin contorno al enfocar */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
    background: #c82b00;
    box-shadow: 0 5px #970000; 
}

.eliminar-producto-btn:hover {
    box-shadow: 0 3px #ac0000; 
    top: 1px; 
}

.eliminar-producto-btn:active {
    box-shadow: 0 0 #a50000; 
    top: 5px; 
}

/* Estilos para el título "Fecha Límite" */
.subtotal-titulo {
    position: absolute;
    width: 612px;
    height: 50px;
    left: 1040px;
    top: 745px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #C35F01;
}

/* Estilos para el input de tipo date */
.subtotal {
    position: absolute;
    width: 200px; 
    height: 40px; 
    left: 1270px;
    top: 775px; 
    font-size: 16px; 
    padding: 5px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Ajusta el redondeo del borde para que se vea redondeado */
    font-size: 20px;
}


/* Estilos para los botones de Confirmar y Cancelar préstamo */
.confirmar-venta-btn,
.cancelar-venta-btn {
    min-width: 220px; 
    height: 50px; 
    color: #fff; 
    font-weight: bold; 
    font-size: 20px;
    cursor: pointer; 
    transition: all 0.3s ease; /* Transición suave */
    outline: none; /* Sin contorno al enfocar */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
    margin-right: 70px
}

.confirmar-venta-btn {
    background: #00de34;
    box-shadow: 0 5px #029300; 
}

.cancelar-venta-btn {
    background: #c82b00; 
    box-shadow: 0 5px #860000;
}

.confirmar-venta-btn:hover {
    box-shadow: 0 3px #17ac00; 
    top: 1px; 
}

.cancelar-venta-btn:hover {
    box-shadow: 0 3px #b80000; 
    top: 1px; 
}

.confirmar-venta-btn:active {
    box-shadow: 0 0 #1aae00; 
    top: 5px; 
}

.cancelar-venta-btn:active {
    box-shadow: 0 0 #a90000; 
    top: 5px;
}

.buttons {
    position: absolute;
    top: 1000px; 
    left: 60%; 
    transform: translateX(-50%); 
}

thead{
    position: sticky;
    top: 0;
}