
.selected {
    background-color: rgb(10, 233, 166); /* Cambia este valor para modificar el color */
}

.inventario-container, .carrito-container-scroll {
    max-height: 100px;
    overflow-y: auto;
    margin: 20px 0;
    width: 100%;
}
.inventario-container {
    max-width: 90%; /* Ajusta el ancho máximo de la tabla de inventario */
}

.inventario-section {
    position: absolute;
    top: 280px; /* Ajusta el valor para mover hacia abajo */
    left: 400px; /* Ajusta el valor para mover hacia la derecha */
}

.carrito-section {
    position: absolute;
    top: 550px; /* Ajusta el valor para mover más hacia abajo */
    left: 1000px; /* Ajusta el valor para mover más hacia la derecha */
}

.carrito-container-scroll {
    max-width: 100%; /* Ajusta el ancho máximo de la tabla del carrito */
}

/* Estilos opcionales para personalizar las barras de desplazamiento */

.inventario-container, .carrito-container-scroll {
    max-height: 200px;
    overflow-y: auto;
}

.inventario-container::-webkit-scrollbar, .carrito-container-scroll::-webkit-scrollbar {
    width: 12px;
}

.inventario-container::-webkit-scrollbar-track, .carrito-container-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.inventario-container::-webkit-scrollbar-thumb, .carrito-container-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.inventario-container::-webkit-scrollbar-thumb:hover, .carrito-container-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.titulo {
    position: absolute;
    width: 512px;
    height: 164px;
    left: 790px;
    top: 80px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 176px;
    color: #C35F01;
}

.texto-disponibles {
    position: absolute;
    width: 412px;
    height: 50px;
    left: 820px;
    top: 160px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #C35F01;
}

.carrito-titulo {
    position: absolute;
    width: 412px;
    height: 50px;
    left: 50px;
    top: -60px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #C35F01;
}

.cliente-titulo {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #C35F01;
}

.busqueda {
    position: absolute;
    width: 500px;
    height: 164px;
    left: 725px;
    top: 165px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 176px;
    color: #C35F01;
}

.busqueda {
    margin-top: 20px; /* Espacio entre el texto y el cuadro de búsqueda */
}

.busqueda label {
    font-size: 28px; /* Tamaño de letra para el texto "Buscar" */
}

.busqueda input {
    width: 250px; /* Ancho del cuadro de búsqueda */
    height: 30px; /* Altura del cuadro de búsqueda */
    font-size: 17px;
    margin-right: 10px; /* Espacio entre el cuadro de búsqueda y el botón */
}

.busqueda button {
    font-weight: bold; /* Texto del botón en negrita */
    font-size: 15px;
    height: 36px; /* Altura del botón */
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #3a86ff;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.busqueda button {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}


.tabla-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tabla th, .tabla td {
    padding: 5px;
    border: 1px solid #ddd;
    width: 10%; 
}

th {
    background-color: #823F00;
    color: white;
    height: 35px;
    border-bottom: 1px solid rgb(210, 220, 250);
}

td {
    color: rgba(100, 100, 100, 0.6);
    height: 30px;
    border: 0.5px solid rgba(240, 240, 240, 0.1);
}

th:hover {
    background-color: rgba(20, 20, 20, 0.9);
}

tr:hover {
    background-color: rgba(15, 25, 25, 0.9);
}

footer {
    margin-top: 40px;
    text-align: center;
}

.tabla, .tabla-carrito {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}

.tabla th, .tabla-carrito th {
    font-size: 21px;
    font-weight: bold;
}

.tabla td, .tabla-carrito td {
    font-size: 18px;
}

.tabla tbody tr:hover, .tabla-carrito tbody tr:hover {
    background-color: #f0f0f0;
}

.tabla thead th:hover, .tabla-carrito thead th:hover {
    background-color: #553000;
}

.cliente-container {
    position: absolute;
    left: 400px; /* Ajusta la posición horizontal según sea necesario */
    top: 550px; /* Ajusta la posición vertical según sea necesario */
    /* Otros estilos opcionales */
    width: 500px; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.input-wrapper {
    display: flex; /* Utiliza flexbox para alinear los elementos en línea */
    align-items: center; /* Alinea los elementos verticalmente */
}
#nombreCliente {
    width: 300px; /* Ancho del cuadro de entrada de texto */
    height: 40px; /* Altura del cuadro de entrada de texto */
    margin-right: 20px; /* Espacio entre el cuadro de entrada de texto y el selector */
}

#listaClientes {
    width: 200px; /* Ancho del selector de lista desplegable */
    height: 40px; /* Altura del selector de lista desplegable */
}

.cantidad-titulo {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #C35F01;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.cantidad-wrapper {
    display: flex; /* Utiliza flexbox para alinear los elementos en línea */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

#cantidadProductos {
    width: 80px; /* Ancho del cuadro de número */
    height: 40px; /* Altura del cuadro de número */
    margin-right: 20px; /* Espacio entre el cuadro de número y el botón */
    font-size: 20px;
    font-weight: bold;
}

.agregar-btn {
    min-width: 100px; /* Ancho mínimo del botón */
    height: 40px; /* Altura del botón */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: all 0.3s ease; /* Transición suave */
    outline: none; /* Sin contorno al enfocar */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
    background: #0ed100; /* Color de fondo */
    box-shadow: 0 5px #009700; /* Sombra */
}

.agregar-btn:hover {
    box-shadow: 0 3px #17ac00; /* Sombra al pasar el mouse */
    top: 1px; /* Efecto de elevación */
}

.agregar-btn:active {
    box-shadow: 0 0 #19a500; /* Sombra al hacer clic */
    top: 5px; /* Efecto de hundimiento */
}

.eliminar-btn-container {
    position: absolute; /* Posicionamiento absoluto para controlar la ubicación */
    top: 650px; /* Ajusta la posición vertical */
    left: 90%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra horizontalmente el botón */
}

.eliminar-producto-btn {
    min-width: 100px; /* Ancho mínimo del botón */
    height: 40px; /* Altura del botón */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: all 0.3s ease; /* Transición suave */
    outline: none; /* Sin contorno al enfocar */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
    background: #c82b00; /* Color de fondo */
    box-shadow: 0 5px #970000; /* Sombra */
}

.eliminar-producto-btn:hover {
    box-shadow: 0 3px #ac0000; /* Sombra al pasar el mouse */
    top: 1px; /* Efecto de elevación */
}

.eliminar-producto-btn:active {
    box-shadow: 0 0 #a50000; /* Sombra al hacer clic */
    top: 5px; /* Efecto de hundimiento */
}

/* Estilos para el título "Fecha Límite" */
.subtotal-titulo {
    position: absolute;
    width: 612px;
    height: 50px;
    left: 1040px;
    top: 745px;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #C35F01;
}

/* Estilos para el input de tipo date */
.subtotal {
    position: absolute;
    width: 200px; /* Ajusta el ancho según sea necesario */
    height: 40px; /* Ajusta la altura según sea necesario */
    left: 1270px; /* Ajusta la posición horizontal según sea necesario */
    top: 775px; /* Ajusta la posición vertical según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Ajusta el redondeo del borde para que se vea redondeado */
    font-size: 20px;
}



/* Estilos para los botones de Confirmar y Cancelar préstamo */
.confirmar-venta-btn,
.cancelar-venta-btn {
    min-width: 220px; /* Ancho mínimo del botón */
    height: 50px; /* Altura del botón */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    font-size: 20px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: all 0.3s ease; /* Transición suave */
    outline: none; /* Sin contorno al enfocar */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
    margin-right: 70px
}

.confirmar-venta-btn {
    background: #00de34; /* Color de fondo */
    box-shadow: 0 5px #029300; /* Sombra */

}

.cancelar-venta-btn {
    background: #c82b00; /* Color de fondo */
    box-shadow: 0 5px #860000; /* Sombra */

}

.confirmar-venta-btn:hover {
    box-shadow: 0 3px #17ac00; /* Sombra al pasar el mouse */
    top: 1px; /* Efecto de elevación */
}

.cancelar-venta-btn:hover {
    box-shadow: 0 3px #b80000; /* Sombra al pasar el mouse */
    top: 1px; /* Efecto de elevación */
}

.confirmar-venta-btn:active {
    box-shadow: 0 0 #1aae00; /* Sombra al hacer clic */
    top: 5px; /* Efecto de hundimiento */
}

.cancelar-venta-btn:active {
    box-shadow: 0 0 #a90000; /* Sombra al hacer clic */
    top: 5px; /* Efecto de hundimiento */
}

.buttons {
    position: absolute; /* Posicionamiento absoluto para controlar la ubicación */
    top: 1000px; /* Ajusta la posición vertical */
    left: 60%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra horizontalmente el botón */
}

thead{
    position: sticky;
    top: 0;
}
