<div class="empleados-container">
    <h1 class="titulo">EMPLEADOS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i)" [class.selected]="filaSeleccionada === i">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.direccion }}</td>
            <td class="modificar"><img src="assets/modificar.png" alt="Modificar"></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <button class="boton-nuevo css-button-3d--green">Agregar Empleado</button>
        <button class="boton-borrar css-button-3d--green">Eliminar Empleado</button>
    </div>
  </div>

