<div class="empleados-container">
    <h1 class="titulo">EMPLEADOS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr >
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of arr; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i, empleado.id)" [class.selected]="filaSeleccionada === i">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.direccion }}</td>
            <td class="modificar" ><a routerLink="/modificarEmpleado"><img src="https://firebasestorage.googleapis.com/v0/b/quijote-image.appspot.com/o/image%2Fmodificar.png?alt=media&token=42001a07-261f-4ce5-874d-e130c34131a4" alt="Modificar" (click)="getid(empleado)"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/registroempleados"><button class="boton-nuevo css-button-3d--green">Agregar Empleado</button></a>
        <button class="boton-borrar css-button-3d--green" (click)="eliminarFila()">Eliminar Empleado</button>
    </div>
  </div>

 