<div class="empleados-container">
    <h1 class="titulo">EMPLEADOS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr >
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of arr">
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.telefono}}</td>
            <td>{{empleado.direccion}}</td>
            <a routerLink="/modificarEmpleado"><td class="modificar" (click)="getid(empleado.id)"><img src="assets/modificar.png" alt="Modificar"></td></a>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/registroempleados"><button class="boton-nuevo css-button-3d--green">Agregar Empleado</button></a>
        <button class="boton-borrar css-button-3d--green">Eliminar Empleado</button>
    </div>
  </div>

