<div class="cliente-container">
    <h1 class="titulo">CLIENTES</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID Cliente</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of arrclientes; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i)" [class.selected]="filaSeleccionada === i">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td class="modificar" ><a routerLink="/modificarCliente"><img src="assets/modificar.png" alt="Modificar" (click)="getId(cliente)"></a></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/registroClientes"><button class="boton-nuevo css-button-3d--green">Agregar Cliente</button></a>
        <button class="boton-borrar css-button-3d--green">Eliminar Cliente</button>
    </div>
  </div>

