<div class="form-container">
    <h1 class="titulo-principal">ALTA DE LIBROS</h1>
    <form>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese el Nombre:</h2>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre...">
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese la Fecha de Publicación:</h2>
        <input type="date" id="fecha" name="fecha">
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese la Cantidad:</h2>
        <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad...">
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese el Precio:</h2>
        <input type="text" id="precio" name="precio" placeholder="$ Precio...">
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Escoja el Género:</h2>
        <select id="genero" name="genero">
          <option>Género...</option>
        </select>
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Escoja la Editorial:</h2>
        <select id="editorial" name="editorial">
          <option>Editorial...</option>
        </select>
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Escoja el Sucursal:</h2>
        <select id="sucursal" name="sucursal">
          <option>Sucursal...</option>
        </select>
      </div>
      <!-- Repite para editorial y sucursal -->
      <div class="button-group">
        <button type="submit" class="agregar-btn">Agregar</button>
        <button type="button" class="cancelar-btn">Cancelar</button>
      </div>
    </form>
  </div>

  