<div class="form-container">
    <h1 class="titulo-principal">MODIFICAR GENERO</h1>
    <form>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese el Nuevo Género:</h2>
        <input type="text" id="nombreEditorial" name="nombreEditorial" placeholder="Nombre..." [(ngModel)]="nombre">
      </div>
      <div class="button-group">
        <button type="submit" class="aceptar-btn" (click)="onSubmit()">Aceptar</button>
        <button type="button" class="cancelar-btn" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
