<body *ngIf="false">
<div class="login-container">
    <div class="logo">
        <img src="assets/logoSinNombre.png" alt="El Quijote">
    </div>
    <h1>El Quijote</h1>
    <h2>Bienvenido Usuario!</h2>
    <form>
        <div class="input-group">
            <label for="user-id">Ingrese ID:</label>
            <input type="text" id="user-id" placeholder="Inserte su ID para acceder al sistema">
        </div>
        <div class="input-group">
            <label for="password">Ingrese Contraseña:</label>
            <input type="password" id="password" placeholder="Inserte su contraseña">
        </div>
        <button type="submit">Ingresar</button>
    </form>
</div>
</body>