<div class="titulo">
    NUEVO PRÉSTAMO
</div>

<div class="texto-disponibles">
    <p>Libros disponibles:</p>
</div>


<div class="busqueda">
    <label for="busqueda">Buscar:</label>
    <input type="text" id="busqueda" name="busqueda" placeholder="Ingrese su búsqueda..." (input)="onInput($event)">
</div>

<section class="inventario-section">
    <div class="tabla-container inventario-container">
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID del Libro</th>
                    <th>Nombre del Libro</th>
                    <th>Fecha de Publicación</th>
                    <th>Id de la Sucursal</th>
                    <th>Id del Género</th>
                    <th>Id de la Editorial</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of inventarioFiltrado; let i = index" [attr.data-index]="i" (click)="seleccionarFilaInventario(i)" [class.selected]="filaSeleccionadaInventario === i">
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.nombre }}</td>
                    <td>{{ libro.fecha }}</td>
                    <td>{{ libro.sucursal }}</td>
                    <td>{{ libro.genero }}</td>
                    <td>{{ libro.editorial }}</td>
                    <td>{{ libro.precio }}</td>
                    <td>{{ libro.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="texto-disponibles">
    <p>Libros disponibles:</p>
</div>

<section class="carrito-section">
    <h2 class="carrito-titulo">Carrito de Préstamo</h2>
    <div class="tabla-container carrito-container-scroll">
        <table class="tabla-carrito">
            <thead>
                <tr>
                    <th>ID Libro</th>
                    <th>Nombre Libro</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of carrito; let j = index" [attr.data-index]="j" (click)="seleccionarFilaCarrito(j)" [class.selected]="filaSeleccionadaCarrito === j">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="eliminar-btn-container">
    <button class="eliminar-producto-btn" (click)="eliminarDelCarrito()">Eliminar Producto</button>
</div>

<div class="fecha-limite-container">
    <h2 class="fecha-limite-titulo">Fecha Límite:</h2>
    <input type="date" id="fechaLimite" class="fecha-limite-input">
</div>

<div class="buttons">
    <button class="confirmar-prestamo-btn">Confirmar préstamo</button>
    <button class="cancelar-prestamo-btn">Cancelar préstamo</button>
</div>

<div class="cliente-container">
    <h2 class="cliente-titulo">Ingrese el Nombre del Cliente:</h2>
    <div class="input-wrapper">
        <input type="text" id="nombreCliente" placeholder="Ingrese el nombre del cliente">
        <select id="listaClientes"></select><br>        
    <button class="agregar-btn" (click)="agregarAlCarrito()">Agregar</button>
    </div>
</div>


