<div class="form-container">
    <h1 class="titulo-principal">MODIFICAR CLIENTES</h1>
    <form>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese el Nuevo Nombre:</h2>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre..." />
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese el Nuevo Número de Teléfono:</h2>
        <input
          type="text"
          id="telefono"
          name="telefono"
          placeholder="Teléfono..."
        />
      </div>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese la Nueva Dirección:</h2>
        <textarea
          id="direccion"
          name="direccion"
          placeholder="Dirección..."
        ></textarea>
      </div>
      <div class="button-group">
        <button type="submit" class="aceptar-btn">Aceptar</button>
        <button type="button" class="cancelar-btn">Cancelar</button>
      </div>
    </form>
  </div>