.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 600px;
    top: 250px;
    width: 50%;
    min-height: 500px;
}

.titulo-principal, .titulo-secundario {
    font-family: 'Amiri', serif;
    font-weight: 700;
    color: #C35F01;
}

.titulo-principal {
    font-size: 50px;
    line-height: 10px;
}

.titulo-secundario {
    font-size: 36px;
    line-height: 40px;
}

.form-group label, .form-group input, .form-group textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input[type="text"], textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.aceptar-btn, .cancelar-btn {
    min-width: 220px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}

.aceptar-btn {
    background: #00de34;
    box-shadow: 0 5px #029300;
}

.cancelar-btn {
    background: #c82b00;
    box-shadow: 0 5px #860000;
}

.aceptar-btn:hover {
    box-shadow: 0 3px #17ac00; 
    top: 1px; 
}

.cancelar-btn:hover {
    box-shadow: 0 3px #b80000; 
    top: 1px; 
}

.aceptar-btn:active {
    box-shadow: 0 0 #1aae00; 
    top: 5px; 
}

.cancelar-btn:active {
    box-shadow: 0 0 #a90000; 
    top: 5px; 
}