.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    width: 60%;
    min-height: 500px;
    top: 180px;
}

.titulo-principal, .titulo-secundario {
    font-family: 'Amiri', serif;
    font-weight: 700;
    color: hsl(29, 99%, 38%);
}

.titulo-principal {
    font-size: 45px;
    line-height: 1px;
}

.titulo-secundario {
    font-size: 25px;
    line-height: 50px;
}

.form-group label, .form-group input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.agregar-btn, .cancelar-btn {
    min-width: 220px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}

.agregar-btn {
    background: #00de34;
    box-shadow: 0 5px #029300;
}

.cancelar-btn {
    background: #c82b00;
    box-shadow: 0 5px #860000;
}

.agregar-btn:hover {
    box-shadow: 0 3px #17ac00; /* Sombra al pasar el mouse */
    top: 1px; /* Efecto de elevación */
}

.cancelar-btn:hover {
    box-shadow: 0 3px #b80000; /* Sombra al pasar el mouse */
    top: 1px; /* Efecto de elevación */
}

.agregar-btn:active {
    box-shadow: 0 0 #1aae00; /* Sombra al hacer clic */
    top: 5px; /* Efecto de hundimiento */
}

.cancelarbtn:active {
    box-shadow: 0 0 #a90000; /* Sombra al hacer clic */
    top: 5px; /* Efecto de hundimiento */
}