header{
    position: absolute;
    top: -130px; /* ajusta la posición vertical según sea necesario */
    left: 50%; /* centra horizontalmente */
    transform: translateX(-50%); /* centra horizontalmente */
    width: 400px; /* ajusta el ancho según sea necesario */
    height: auto; /* ajusta la altura automáticamente según el ancho */
  }

.logo {
    position: absolute;
    top: -19px; /* ajusta la posición vertical según sea necesario */
    left: 45px; /* ajusta la posición horizontal según sea necesario */
    width: 165px; /* ajusta el ancho según sea necesario */
    height: auto; /* ajusta la altura automáticamente según el ancho */
}

header p{
    font-family: 'Inter';
    font-style: normal;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0;
}
aside{
    left: 0px;
    background: #F19426;
    position: absolute;
    width: 15%;
    margin-top: 80px;
    height: 100%- 120px;
}
ul{
    padding: 0;
    width: 100%;
    font-size: 10px;    
    list-style: none;
}

ul li{
    width: 74%;
    padding: 30px;
    padding-top: 15px;
    border-bottom: black solid 1px;
    transition: 1000ms;
    color: #823F00;
    font-size: 30px;
}
ul li:hover{
    background: #ffd5d5;
    color: #4a2d11;
    transition: 700ms;
}

