
<header >
  <img src="assets/logoSinNombre.png" alt="logo quijote" class="logo">
  <img src="assets/nombreLibreria.png" alt="Título principal de la librería Quijote" class="titulo-principal"></header>
<aside>
  <ul><b>
    <a routerLink="inventario"><li>Inventario</li></a>
    <a routerLink="ventas"><li>Ventas</li></a>
    <a routerLink="prestamos"><li>Préstamos</li></a>
    <li>Clientes</li>
    <li>Empleados</li>
    <li>Sucursales</li>
    <li>Editoriales</li>
    <li>Géneros</li></b>
  </ul>
</aside>
<router-outlet></router-outlet>
