<header >
  <img src="assets/logoSinNombre.png" alt="logo quijote" class="logo">
  <img src="assets/nombreLibreria.png" alt="Título principal de la librería Quijote" class="titulo-principal">
</header>
<!-- ng if aqui -->
<aside >
  <ul><b>
    <a routerLink="inventario"><li>Inventario</li></a>
    <a routerLink="ventas"><li>Ventas</li></a>
    <a routerLink="prestamos"><li>Préstamos</li></a>
    <a routerLink="cliente"><li>Clientes</li></a>
    <a routerLink="empleados"><li>Empleados</li></a>
    <a routerLink="sucursales"><li>Sucursales</li></a>
    <a routerLink="editoriales"><li>Editoriales</li></a>
    <a routerLink="generos"><li>Géneros</li></a></b>
  </ul>
</aside>
<router-outlet ></router-outlet> 
