<header >
  <img src="assets/logoSinNombre.png" alt="logo quijote" class="logo">
  <img src="assets/nombreLibreria.png" alt="Título principal de la librería Quijote" class="titulo-principal">
</header>
<!-- ng if aqui -->
<div class="login" *ngIf="false">
  <div class="login-container">
      <div class="logo-login">
          <img src="assets/logoSinNombre.png" alt="El Quijote">
      </div>
      <h1>El Quijote</h1>
      <h2>Bienvenido Usuario!</h2>
      <form>
          <div class="input-group">
              <label for="user-id">Ingrese ID:</label>
              <input type="text" id="user-id" placeholder="Inserte su ID para acceder al sistema">
          </div>
          <div class="input-group">
              <label for="password">Ingrese Contraseña:</label>
              <input type="password" id="password" placeholder="Inserte su contraseña">
          </div>
          <button type="submit">Ingresar</button>
      </form>
  </div>
  </div>
<aside *ngIf="true" >
  <ul>
    <a routerLink="inventario"><li>Inventario</li></a>
    <a routerLink="ventas"><li>Ventas</li></a>
    <a routerLink="prestamos"><li>Préstamos</li></a>
    <a routerLink="cliente"><li>Clientes</li></a>
    <a routerLink="empleados"><li>Empleados</li></a>
    <a routerLink="sucursales"><li>Sucursales</li></a>
    <a routerLink="editoriales"><li>Editoriales</li></a>
    <a routerLink="generos"><li>Géneros</li></a>
  </ul>
</aside>
<router-outlet *ngIf="true"></router-outlet> 
