<div class="editoriales-container">
    <h1 class="titulo">EDITORIALES</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID de la Editorial</th>
            <th>Nombre de la Editorial</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dato1</td>
            <td>Dato2</td>
            <td class="modificar"><img src="assets/modificar.png" alt="Modificar"></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <button class="boton-nuevo css-button-3d--green">Agregar Editorial</button>
        <button class="boton-borrar css-button-3d--green">Eliminar Editoral</button>
    </div>
  </div>


