<div class="sucursales-container">
    <h1 class="titulo">SUCURSALES</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID de la Sucusal</th>
            <th>Nombre de la Sucursal</th>
            <th>Dirección</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sucursal of arrsucursales; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i)" [class.selected]="filaSeleccionada === i">
            <td>{{ sucursal.id }}</td>
            <td>{{ sucursal.nombre_sucursal }}</td>
            <td>{{ sucursal.direccion }}</td>
            <td class="modificar" ><a routerLink="/modificarSucursal"><img src="assets/modificar.png" alt="Modificar" (click)="getid(sucursal)"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/creacionSucursal"><button class="boton-nuevo css-button-3d--green">Agregar Sucursal</button></a>
        <button class="boton-borrar css-button-3d--green" (click)="eliminarSucursal()">Eliminar Sucursal</button>
    </div>
  </div>

