<div class="ventas-container">
    <h1 class="titulo">VENTAS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID Venta</th>
            <th>Fecha de Venta</th>
            <th>Cliente</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dato1</td>
            <td>Dato2</td>
            <td>Dato3</td>
            <td>Dato4</td>
            <td>Dato5</td>
            <td class="detalle"><img src="assets/ojo.png" alt="Detalle"></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <button class="boton-nuevo css-button-3d--green">Nueva Venta</button>
        <button class="boton-borrar css-button-3d--green">Eliminar Venta</button>
    </div>
  </div>

