<div class="prestamos-container">
    <h1 class="titulo">PRÉSTAMOS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID Préstamo</th>
            <th>ID Libro</th>
            <th>ID Cliente</th>
            <th>Cantidad</th>
            <th>Fecha Límite</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prestamo of prestamos; let i = index" [attr.data-index]="i" (click)="seleccionarFila(i)" [class.selected]="filaSeleccionada === i">
            <td>{{ prestamo.idPrestamo }}</td>
            <td>{{ prestamo.idLibro }}</td>
            <td>{{ prestamo.idCliente }}</td>
            <td>{{ prestamo.cantidad }}</td>
            <td>{{ prestamo.fechaLimite }}</td>
            <td class="modificar"><img src="assets/modificar.png" alt="Modificar"></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/creacionPrestamos"><button class="boton-nuevo css-button-3d--green">Nuevo Préstamo</button></a>
        <button class="boton-borrar css-button-3d--green">Borrar Préstamo</button>
    </div>
  </div>
  