<div class="prestamos-container">
    <h1 class="titulo">PRÉSTAMOS</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID Préstamo</th>
            <th>ID Libro</th>
            <th>ID Cliente</th>
            <th>Cantidad</th>
            <th>Fecha Límite</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dato1</td>
            <td>Dato2</td>
            <td>Dato3</td>
            <td>Dato4</td>
            <td>Dato5</td>
            <td class="detalle"><img src="assets/ojo.png" alt="Detalle"></td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
    <div class="botones-container">
        <a routerLink="/creacionPrestamos"><button class="boton-nuevo css-button-3d--green">Nuevo Préstamo</button></a>
        <button class="boton-borrar css-button-3d--green">Borrar Préstamo</button>
    </div>
  </div>
  