<div class="form-container">
    <h1 class="titulo-principal">REGISTRO DE GÉNERO</h1>
    <form>
      <div class="form-group">
        <h2 class="titulo-secundario">Ingrese el Nombre:</h2>
        <input type="text" id="nombreEditorial" name="nombreEditorial" placeholder="Nombre..." [(ngModel)]="nombre">
      </div>
      <div class="button-group">
        <button type="submit" class="agregar-btn">Agregar</button>
        <button type="button" class="cancelar-btn">Cancelar</button>
      </div>
    </form>
  </div>

a