<div class="tabla-container">
  <table>
      <thead>
          <tr>
              <th>Id_Libro</th>
              <th>Nombre</th>
              <th>Fecha_Publicación</th>
              <th>Id_Sucursal</th>
              <th>Id_Gérnero</th>
              <th>Id_Editorial</th>
              <th>Precio</th>
              <th>Existencias</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Dato 1</td>
              <td>Dato 2</td>
              <td>Dato 3</td>
              <td>Dato 4</td>
              <td>Dato 5</td>
              <td>Dato 6</td>
              <td>Dato 7</td>
              <td>Dato 8</td>
          </tr>
      </tbody>
  </table></div>
  <div class="botones-container">
    <button class="Agregar Libro">Agregar Libro</button>
    <button class="Eliminar Libro">Eliminar Libro</button>
</div>

