/* Estilo para el contenedor de la tabla */
.tabla-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Altura total de la ventana */
  margin-left: 20%; /* Mover la tabla hacia la derecha */
  transform: translateY(-20%);/* Mover la tabla hacia arriba */
  height: calc(100vh - 200px); /* Altura total de la ventana menos la altura de los botones */
  margin-bottom: 20px;
}

/* Estilo para la tabla */
table {
  width: 80%; /* Ancho de la tabla */
  border-collapse: collapse;
  background-color: white; /* Fondo blanco */
}

/* Estilo para las celdas */
td, th {
  border: 1px solid black; /* Borde negro */
  padding: 8px;
}

/* Estilo para el encabezado */
th {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
}

/* Estilo para las filas impares (opcional) */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Fondo gris claro */
}
.botones-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 20px; /* Margen superior para bajar los botones */
}

/* Estilo para los botones */
.boton {
  margin: 0 10px; /* Margen entre los botones */
}
