/* Estilo para el contenedor de la tabla */
.tabla-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: calc(100vh - 200px); /* Altura total de la ventana menos la altura de los botones */
  margin-left: auto; /* Mover la tabla hacia la derecha, con auto para centralizar */
  margin-right: auto; /* Mover la tabla hacia la derecha, con auto para centralizar */
  transform: translateY(-20%); /* Mover la tabla hacia arriba */
  margin-bottom: 20px;
}

/* Estilo para la tabla */
table {
  width: 60%; /* Ancho de la tabla ajustado al 60% para mayor espacio en los bordes */
  border-collapse: collapse; /* Asegura que los bordes de las celdas se fusionen */
  background-color: white; /* Fondo blanco para la tabla */
}

/* Estilo para las celdas */
td, th {
  border: 1px solid black; /* Borde negro */
  padding: 8px; /* Espacio interno para texto */
  text-align: center; /* Centra el texto dentro de las celdas */
}

/* Estilo para el encabezado */
th {
  background-color: #823F00; /* Fondo marrón para los encabezados, según tu diseño */
  color: white; /* Texto blanco */
  height: 35px; /* Altura específica para los encabezados */
}

/* Estilo para las filas al pasar el ratón */
table tbody tr:hover {
  background-color: #ffd5d5; /* Cambio de color de fondo al pasar el ratón */
}

/* Contenedor de botones para alinear correctamente */
.botones-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-top: 20px; /* Margen superior para separar de la tabla */
}

/* Estilos adicionales para botones, si es necesario */
.boton-nuevo, .boton-borrar {
  padding: 10px 20px; /* Aumenta el relleno para botones más grandes */
  font-size: 16px; /* Tamaño de fuente más grande para legibilidad */
  color: white; /* Texto blanco */
  background-color: #823F00; /* Fondo marrón para hacer juego con los encabezados de tabla */
  border: none; /* Sin bordes */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano al pasar sobre el botón */
  margin: 0 10px; /* Margen entre botones */
}

.boton-nuevo:hover, .boton-borrar:hover {
  background-color: #B05501; /* Cambio de color al pasar el ratón */
}
